# Database Configuration
DATABASE_USER=movieuser
DATABASE_PASSWORD=supersecretpassword
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=moviedb

# SQLAlchemy Asynchronous Database URL
# dialect+driver://username:password@host:port/database
DATABASE_URL="postgresql+psycopg://movieuser:supersecretpassword@localhost:5432/moviedb"